{% extends 'base.html.twig' %}
{% block title %}DLGA - Formations{% endblock %}
{% block body %}
    <div class="formations-list-page">
        <div class="container">
            <nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Page d'accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><span>Nos formations</span></li>
                </ol>
            </nav>
            <div class="header">
                <div class="content-title">
                    <h3 class="text-book-24 text-grey-darker subtitle-header">Nos formations</h3>
                    <h1 class="title-medium-64 text-grey-text">Nos avocats et associés proposent des formations selon
                        leurs spécialisations :</h1>
                </div>
                <div class="content-scrolldown">
                    <a href="#anchor-scrolldown" class="scrolldown">
                        <img src="{{ asset('images/arrow-down-grey-dark.svg') }}" class="icon-arrow-down">
                    </a>
                </div>
            </div>
        </div>

        <div id="anchor-scrolldown"></div>

        <div class="formations-container">
            <div class="container">
                <div class="filters">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">À venir</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Formations précédentes</a>
                        </li>
                    </ul>
                    <a href="" class="filter-formation text-book-28 text-grey-text text-decoration-none"
                       data-bs-toggle="modal"
                       data-bs-target="#filterFormationModal">Filtrer les formations</a>
                </div>
            </div>
            <div class="list-container">
                {% for formation in formations %}
                    <a href="#formationModal{{ formation.id }}" class="list-element-link" data-bs-toggle="modal"
                       data-bs-target="#formationModal{{ formation.id }}">
                        <div class="container">
                            <div class="list-content">
                                {% if formation.image %}
                                    <img src="/images/upload/{{ formation.image }}" class="show-hover">
                                {% endif %}
                                <h2 class="list-tile title-medium-48 mb-0">{{ formation.titre }}</h2>
                                <span class="show-hover decouvrir-link">Découvrir</span>
                            </div>
                        </div>
                    </a>
                    <div class="modal fade modal-formations" id="formationModal{{ formation.id }}" tabindex="-1"
                         aria-labelledby="formationModal{{ formation.id }}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title title-medium-40 text-grey-text"
                                        id="formationModal{{ formation.id }}Label">{{ formation.titre }}</h5>
                                    <a href="" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                        Fermer
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <div class="modal-top">
                                        <div class="content-left">
                                            <div class="infos-formation">
                                                <div class="thematiques-content">
                                                    {% for thematique in formation.thematiques %}
                                                        <div class="thematique-item">
                                                            <p>{{ thematique }}</p>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="presentiel">
                                                    {% if formation.presentiel == 1 %}
                                                        <p>Présentiel</p>
                                                    {% else %}
                                                        <p>Distanciel</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="description">
                                                <p>{{ formation.description }}</p>
                                            </div>
                                        </div>
                                        <div class="content-right">
                                            <div class="avocats-content">
                                                {% for avocat in formation.avocats %}
                                                    <div class="avocat-item">
                                                        {% if avocat.image %}
                                                            <div class="content-left">
                                                                <img src="/images/upload/{{ avocat.image }}"
                                                                     class="show-hover">
                                                            </div>
                                                        {% endif %}
                                                        <div class="content-right">
                                                            <p class="title-avocat">Avocat associé</p>
                                                            <p class="name-avocat">{{ avocat.prenom }} {{ avocat.nom }}</p>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-tabs">
                                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" id="pills-programme-tab"
                                                        data-bs-toggle="pill" data-bs-target="#pills-programme"
                                                        type="button" role="tab" aria-controls="pills-programme"
                                                        aria-selected="true">Programme
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-objectfis-tab" data-bs-toggle="pill"
                                                        data-bs-target="#pills-objectifs" type="button" role="tab"
                                                        aria-controls="pills-objectifs" aria-selected="false">Objectifs
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-modalites-tab" data-bs-toggle="pill"
                                                        data-bs-target="#pills-modalites" type="button" role="tab"
                                                        aria-controls="pills-modalites" aria-selected="false">Modalités
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" id="pills-inscription-tab"
                                                        data-bs-toggle="pill"
                                                        data-bs-target="#pills-inscription" type="button" role="tab"
                                                        aria-controls="pills-inscription" aria-selected="false">
                                                    Inscription
                                                </button>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="pills-tabContent">
                                            <div class="tab-pane fade show active" id="pills-programme" role="tabpanel"
                                                 aria-labelledby="pills-programme-tab" tabindex="0">
                                                {{ formation.programme | raw }}
                                            </div>
                                            <div class="tab-pane fade" id="pills-objectifs" role="tabpanel"
                                                 aria-labelledby="pills-objectifs-tab" tabindex="0">
                                                {% set j = 0 %}
                                                {% set k = 1 %}
                                                {% for objectif in formation.objectifs %}
                                                    {% for objecti in objectif %}
                                                        {% if j == 0 %}
                                                            <p>{{ k }}</p>
                                                            <p>Titre : {{ objecti }}</p>
                                                            {% set j = 1 %}
                                                        {% else %}
                                                            <p>Description : {{ objecti }}</p>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% set k = k+1 %}
                                                    {% set j = 0 %}
                                                {% endfor %}
                                            </div>
                                            <div class="tab-pane fade" id="pills-modalites" role="tabpanel"
                                                 aria-labelledby="pills-modalites-tab" tabindex="0">
                                                {% set i = 0 %}
                                                {% set l = 1 %}
                                                {% for modalite in formation.modalites %}
                                                    {% for modalit in modalite %}
                                                        {% if i == 0 %}
                                                            <p>{{ l }}</p>
                                                        <p>Titre : {{ modalit }}</p>
                                                            {% set i = 1 %}
                                                            {% else %}
                                                            <p>Description : {{ modalit }}</p>
                                                        {% endif %}
                                                        {% endfor %}
                                                    {% set l = l+1 %}
                                                    {% set i = 0 %}
                                                {% endfor %}
                                            </div>
                                            <div class="tab-pane fade" id="pills-inscription" role="tabpanel"
                                                 aria-labelledby="pills-inscription-tab" tabindex="0">
                                                <a href="{{ path("inscription_formation", { id : formation.id }) }}">S'inscrire
                                                    à la formation</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="container">
            <div class="chiffre-cle">
                <span class="chiffre">100%</span>
                <p class="chiffre-text">En 2021, c’est le nombre de participant ayant déclaré être satisfaits de nos
                    formations</p>
            </div>
        </div>
        <div class="modal fade modal-filter" id="filterFormationModal" tabindex="-1" aria-labelledby="filterFormationModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title title-medium-40 text-grey-text" id="filterFormationModalLabel">Filtres
                            formations</h5>
                        <a href="" class="btn-close" data-bs-dismiss="modal" aria-label="Close">Fermer
                        </a>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}