<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}DLGA{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/DLGA-logo.svg') }}" class="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cabinet" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Le cabinet
                    </a>
                    <ul class="dropdown-menu list-container" aria-labelledby="cabinet">
                        <li class="container dropdown-title-container"><span class="dropdown-title">Le cabinet</span>
                            <span class="close-dropdown-menu">Fermer</span></li>
                        <li>
                            <a href="{{ path("cabinet_presentation") }}" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Présentation</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("cabinet_equipe") }}" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Équipe</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("cabinet_reseau") }}" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Réseau</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Nous rejoindre</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="expertise" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Notre expertise
                    </a>
                    <ul class="dropdown-menu list-container" aria-labelledby="expertise">
                        <li class="container dropdown-title-container">
                            <span class="dropdown-title">Notre expertise</span>
                            <span class="close-dropdown-menu">Fermer</span>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Nos compétences</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Nos secteurs d’intervention</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path("show_formation") }}">Nos formations</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="actualites" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Actualités
                    </a>
                    <ul class="dropdown-menu list-container" aria-labelledby="actualites">
                        <li class="container dropdown-title-container"><span class="dropdown-title">Actualités</span>
                            <span class="close-dropdown-menu">Fermer</span></li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Articles de presse</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Évènements / Table ronde</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Nos actualités linkedin</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="list-element-link dropdown-item">
                                <div class="container">
                                    <div class="list-content">
                                        <img src="{{ asset('images/image-default.png') }}" class="show-hover">
                                        <h2 class="list-tile title-medium-48 mb-0">Nos références</h2>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <a href="" class="search-btn">Rechercher</a>
        </div>
    </div>
</nav>
{% block body %}{% endblock %}
<footer class="container">
    <div class="row justify-content-between">
        <div class="col-12 col-lg-5">
            <img src="{{ asset('images/DLGA-logo.svg') }}" class="logo-footer">
            <div class="container-address">
                <div class="address-content">
                    <p class="text-medium-24 text-green-main address-title">
                        Lille
                    </p>
                    <p class="title-book-36">
                        6 rue Léon Trulin – 59800 Lille
                    </p>
                    <a href="tel:+33320758760" class="title-book-36 text-decoration-none">
                        03 20 75 87 60
                    </a>
                    <a href="mailto:secretariat@dlga.fr" class="title-book-36 text-decoration-none">
                        secretariat@dlga.fr
                    </a>
                </div>
                <div class="address-content">
                    <p class="text-medium-24 text-green-main address-title">
                        Paris
                    </p>
                    <p class="title-book-36">
                        11/13 rue de Belzunce – 75010 Paris
                    </p>
                    <a href="tel:+33145556520" class="title-book-36 text-decoration-none">
                        01 45 55 65 20
                    </a>
                    <a href="mailto:secretariat@dlga.fr" class="title-book-36 text-decoration-none">
                        secretariat@dlga.fr
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="nav-footer">
                        <p class="text-medium-32 text-grey-dark title-nav">Le cabinet</p>
                        <ul class="navbar-footer">
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Notre histoire</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos valeurs</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">L’équipe</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Notre réseau</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Collaborateurs</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nous rejoindre</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-footer">
                        <p class="text-medium-32 text-grey-dark title-nav">Nos formations</p>
                        <ul class="navbar-footer">
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Catalogue</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos dernières interventions</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Inscriptions aux prochaines matinées</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="nav-footer">
                        <p class="text-medium-32 text-grey-dark title-nav">Notre expertise</p>
                        <ul class="navbar-footer">
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos compétences</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos secteurs d’intervention</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-footer">
                        <p class="text-medium-32 text-grey-dark title-nav">Nos actualités</p>
                        <ul class="navbar-footer">
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">La vie du cabinet</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos publications</a>
                            </li>
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Nos newsletters</a>
                            </li>
                        </ul>
                    </div>
                    <div class="nav-footer">
                        <p class="text-medium-32 text-grey-dark title-nav">Contact</p>
                        <ul class="navbar-footer">
                            <li class="nav-item-footer">
                                <a href="" class="nav-link-footer">Catalogue</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="bottom-footer text-medium-14 text-grey-dark">© DLGA | <a href="">Cabinet d’avocats</a> | <a
                        href="">Mentions Légales</a> | <a href="">Politique de confidentialité</a></p>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('script') }}
{% endblock %}
</body>
</html>
